.container {
	max-width:100%;
}
.content-about {
	position: relative;
	margin-left: 4em;
	margin-right: 4em;
}
.white-bg {
	color:#000;
}
.title {
    border-bottom: 2px solid rgba(0,0,0,0.87);;
    margin-bottom: 20px;
    height: 35px;
	text-align:center;
	margin:0 auto;
	-webkit-transition: width 0.4s; /* Safari */
    transition: width 0.4s;
}

.main-content {
    /*color: rgba(0,0,0,0.54);*/
	/*font-family: 'Roboto', sans-serif;*/
	font-size:16px;
	margin:0 auto;
	padding: 20px 0;
}

.title h2{
	color: rgba(0,0,0,0.87);
	font-size:24px;
	font-weight: 400;
}

@media (max-width: 40em) {
	.about,
	.repos {
		width:100%;
	}
}