.container {
	max-width:100%;
}
.content-about {
	position: relative;
	margin-left: 4em;
	margin-right: 4em;
}
.white-bg {
	color:#000;
}
.title {
    /*border-bottom: 2px solid rgba(0,0,0,0.87);*/
    margin-bottom: 20px;
    height: 100px;
	text-align:center;
	margin:0 auto;
	-webkit-transition: width 1s; /* Safari */
    transition: width 1s;
}

.main-content {
    /*color: rgba(0,0,0,0.54);*/
	/*font-family: 'Roboto', sans-serif;*/
	font-size:16px;
	margin:0 auto;
	padding: 70px 0;
	-webkit-transition: width 1s; /* Safari */
    transition: width 1s;
	max-width: 800px;
}

.title h2 {
	color: #fff;
	-webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
    text-align: center;
    line-height: 50px;
    font-size: 55px;
    /*margin-top: -133px;*/
    margin-right: 18px;
    font-family: 'Lobster', cursive;
	margin-bottom:28px;
  /*-----------------------*/
  /*text-shadow: 1px 1px #FF7575, 2px 2px #FF7575, 3px 3px #FF7575, 4px 4px #FF7575, 5px 5px #FF7575, 6px 6px #FF7575, 7px 7px #FF7575, 8px 8px #FF7575, 9px 9px #FF7575, 10px 10px #FF7575, 11px 11px #FF7575, 12px 12px #FF7575, 13px 13px #FF7575, 14px 14px #FF7575, 15px 15px #FF7575, 16px 16px #FF7575, 17px 17px 5px #FF7575;*/

	/*color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 65px;
    margin-top: -155px;
    margin-right: 10px;
    font-family: 'Lobster', cursive;*/
  /*-----------------------*/
  /*text-shadow: 1px 1px #FF7575, 2px 2px #FF7575, 3px 3px #FF7575, 4px 4px #FF7575, 5px 5px #FF7575, 6px 6px #FF7575, 7px 7px #FF7575, 8px 8px #FF7575, 9px 9px #FF7575, 10px 10px #FF7575, 11px 11px #FF7575, 12px 12px #FF7575, 13px 13px #FF7575, 14px 14px #FF7575, 15px 15px #FF7575, 16px 16px #FF7575, 17px 17px 5px #FF7575;*/
}

.title-circle {
  margin: auto;
  height: 200px;
  width: 200px;
  border-radius: 100%;
  background: #86dae4;
}

@media (max-width: 40em) {
	.about,
	.repos {
		width:100%;
	}
}

