.container {
	max-width:100%;
}
.white-bg {
	color:#000;
}
.title {
    border-bottom: 2px solid rgba(0,0,0,0.87);;
    margin-bottom: 20px;
    height: 35px;
	text-align:center;
	margin-right:0 auto;
	margin-left: 0 auto;
}
.main-content {
    /*color: rgba(0,0,0,0.54);*/
	/*font-family: 'Roboto', sans-serif;*/
	font-size:16px;
	margin-bottom: 20px;
	margin-right:0 auto;
	margin-left: 0 auto;
}
.title h2{
	color: rgba(0,0,0,0.87);
	font-size:24px;
	font-weight: 400;
}

@media (max-width: 40em) {
	.about,
	.repos {
		width:100%;
	}
}