/*@import url('normalize.css');*/

.content {
    margin-top: 72px;
    position: absolute;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 91%;
    top: 0;
    left: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 50px !important;
}

.pt-grid {
	margin: 20px auto 0 auto;
	padding: 0;
	list-style: none;
	display: block;
	text-align: center;
    max-width: 800px;
    
}

.pt-grid:after,
.pt-item:before {
	content: '';
    display: table;
}

.pt-grid:after {
	clear: both;
}

.pt-grid li {
	width: 150px;
	height: 150px;
	display: inline-block;
    margin: 10px 5px 40px 5px;
}
.pt-item {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: relative;
    cursor: default;
    /* background:#000; */
}

.pt-info-wrap{
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;

	-webkit-perspective: 800px;
	-moz-perspective: 800px;
	-o-perspective: 800px;
	-ms-perspective: 800px;
	perspective: 800px;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;

	top: 20px;
	left: 20px;
	box-shadow: 
		0 0 0 20px rgba(255,255,255,0.2), 
		inset 0 0 3px rgba(115,114, 23, 0.8);

}

.pt-info{
	position: absolute;
	width: 150px;
	height: 150px;
	border-radius: 50%;
    border: 1px solid #888;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
		
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
    transform-style: preserve-3d;

}

.pt-info > div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-position: center center;
    background-size:130px;
    background-repeat: no-repeat;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.pt-info .pt-info-back {
	-webkit-transform: rotate3d(0,1,0,180deg);
	-moz-transform: rotate3d(0,1,0,180deg);
	-o-transform: rotate3d(0,1,0,180deg);
	-ms-transform: rotate3d(0,1,0,180deg);
	transform: rotate3d(0,1,0,180deg);
	
	background: #000;
}

.company-image {
	height: 130px;
	width:200px;
	margin: 0 auto;
	background-position: center center;
    background-size:200px;
	background-repeat: no-repeat;
}

.center {margin: 0 auto;text-align:center;}

.pt-img-1 { 
	background-image: url(../CircleHoverEffects/images/company-1.png);
}

.pt-img-2 { 
	background-image: url(../CircleHoverEffects/images/company-2.png);
}

.pt-img-3 { 
	background-image: url(../CircleHoverEffects/images/company-3.png);
}

.pt-img-4 { 
	background-image: url(../CircleHoverEffects/images/company-4.png);
}

.pt-img-5 { 
	background-image: url(../CircleHoverEffects/images/company-5.png);
}
 
.pt-img-6 { 
	background-image: url(../CircleHoverEffects/images/company-6.png);
}

.pt-img-7 { 
	background-image: url(../CircleHoverEffects/images/company-7.png);
}

.pt-img-8 { 
	background-image: url(../CircleHoverEffects/images/company-8.png);
}

.pt-img-9 { 
	background-image: url(../CircleHoverEffects/images/company-9.png);
}

.pt-img-10 { 
	background-image: url(../CircleHoverEffects/images/company-10.png);
} 

.pt-info h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 12px;
	margin: 0 15px;
    padding: 40px 0 0 0;
	height: 78px;

}

.pt-info p {
	color: #fff;
	padding: 10px 0px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin: 0 18px;
	font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
    height:85px;
}

.pt-info p a {
	display: block;
	color: #fff;
	color: rgba(255,255,255,0.7);
	font-style: normal;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 1px;
	padding-top: 4px;
}

.pt-info p a:hover {
	color: #fff222;
	color: rgba(255,242,34, 0.8);
}

.pt-item:hover .pt-info-wrap {
	box-shadow: 
		0 0 0 0 rgba(255,255,255,0.8), 
		inset 0 0 3px rgba(115,114, 23, 0.8);
}

.pt-item:hover .pt-info {
	-webkit-transform: rotate3d(0,1,0,-180deg);
	-moz-transform: rotate3d(0,1,0,-180deg);
	-o-transform: rotate3d(0,1,0,-180deg);
	-ms-transform: rotate3d(0,1,0,-180deg);
	transform: rotate3d(0,1,0,-180deg);
}

a.more {text-transform:uppercase;font-size:12px;text-decoration: none;padding:10px;}

.no-more {display:none}

a.case {text-transform:uppercase;font-size:12px;text-decoration: none;padding:10px;}

.no-case {display:none}

.larger-arrow{font-size:17px;}